.content {
  max-width: 1250px;
  width: 90%;
  margin: 75px auto 0;
  height: 100%;
  display: flex;
  padding: 0 0 250px;
}
a {
  text-decoration: none;
}
.content .content-text {
  order: 1;
  width: 45%;
}
.content .content-image {
  order: 2;
  margin-left: 30px;
  width: 55%;
  text-align: right;
}
.content img {
  width: 577px;
  filter: drop-shadow(4px 4px 50px #6ba0d2);
}
.text-header {
  font-size: 80px;
  line-height: 73px;
  letter-spacing: -0.9px;
  margin: 35px 0 60px;
}
.click {
  background: linear-gradient(145deg, #528adb 42.81%, #4c259e 57.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-content {
  color: #787878;
  font-size: 19.5px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 60px;
  letter-spacing: -0.3px;
}
.text-read-more-button {
  padding: 15px 30px;
  border-radius: 18px;
  background-color: #1a3cb5;
  color: white;
  font-size: 18px;
}
.read-more-container:hover .text-read-more-button {
  background-color: #122a80;
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .content {
    padding: 0 0 100px;
  }
  .content img {
    width: 90%;
    filter: drop-shadow(4px 4px 50px #6ba0d2);
  }
  .text-header {
    font-size: 65px;
    line-height: 58px;
    letter-spacing: -1.5px;
    margin: 15px 0 40px;
  }
  .click {
    background: linear-gradient(145deg, #528adb 42.81%, #4c259e 57.76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-content {
    color: #787878;
    font-size: 15.5px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 45px;
    letter-spacing: -0.3px;
  }
  .text-read-more-button {
    padding: 10px 25px;
    border-radius: 13px;
    background-color: #1a3cb5;
    color: white;
    font-size: 15.5px;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    max-width: 1250px;
    display: block;
  }
  .content .content-text {
    order: none;
    width: 100%;
  }
  .content .content-image {
    order: none;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .content img {
    width: 85%;
  }
  .text-header {
    text-align: center;
    font-size: 70px;
    line-height: 63px;
    letter-spacing: -3.5px;
    margin: 80px 0 60px;
  }
  .click {
    background: linear-gradient(145deg, #528adb 42.81%, #4c259e 57.76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-content {
    color: #787878;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 80px;
    letter-spacing: -0.3px;
  }
  .read-more-container {
    text-align: center;
  }
  .text-read-more-button {
    padding: 20px 35px;
    border-radius: 18px;
    font-size: 25px;
  }
}

@media screen and (max-width: 666px) {
  .content {
    max-width: 1250px;
    display: block;
  }
  .content .content-text {
    order: none;
    width: 100%;
  }
  .content .content-image {
    order: none;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .content img {
    width: 95%;
  }
  .text-header {
    text-align: center;
    font-size: 50px;
    line-height: 48px;
    letter-spacing: -1.5px;
    margin: 65px 0 25px;
  }
  .click {
    background: linear-gradient(145deg, #528adb 42.81%, #4c259e 57.76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-content {
    color: #787878;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 40px;
    letter-spacing: -0.3px;
  }
  .read-more-container {
    text-align: center;
  }
  .text-read-more-button {
    padding: 10px 25px;
    border-radius: 12px;
    font-size: 15.5px;
  }
}
