.nav {
  display: flex;
  max-width: 1250px;
  width: 90%;
  height: 74px;
  margin: 24px auto;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.logo img {
  height: 74px;
}
.nav-mobile-window {
  display: none;
}
.nav-buttons {
  width: fit-content;
  height: 74px;
  position: relative;
  background: rgba(222.06, 222.06, 222.06, 0.4);
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(100px);
  padding: 0 15px;
  display: inline-flex;
}
.nav-buttons .icon-container {
  align-items: center;
  background-color: #bbb;
  height: 50px;
  padding: 15px;
  margin: 11px 0;
  margin-right: 15px;
  border-radius: 10px;
}
.nav-buttons a:first-of-type .icon-container {
  margin-left: 0 !important;
}
.nav-buttons a:last-of-type .icon-container {
  margin-right: 15px;
}
.active {
  background-color: #88b7fd !important;
}
.nav-buttons a .icon-container:hover {
  background-color: #a7a6a6;
}
.nav-buttons a {
  color: white;
}
.nav-buttons .open-source-button {
  background-color: #1a3cb5;
  width: fit-content;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 36px;
  padding-right: 35px;
  border-radius: 25px;
  margin: 12px 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 13px;
  display: inline-flex;
}
.nav-buttons .open-source-button:hover {
  background-color: #122a80;
  cursor: pointer;
}
.nav .mode-toggle .toggle-button-container {
  margin-top: 19px;
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  padding: 5px 7px;
  align-items: center;
  border-radius: 50px;
  background: rgba(222, 222, 222, 0.4);
  backdrop-filter: blur(50px);
}
.nav .mode-toggle .toggle-button-container {
  cursor: pointer;
}
.menu {
  display: none;
}
.mode-button {
  height: fit-content;
  padding: 4px 12px;
  border-radius: 50px;
}
.mode-button:hover {
  background-color: #dfdfdf;
}
.mode-button svg {
  fill: black;
}
.mode-active {
  background-color: black !important;
  height: fit-content;
  padding: 4px 12px;
}
.mode-active svg {
  fill: white;
}

@media screen and (max-width: 1023px) {
  .nav {
    height: 52px;
  }
  .logo img {
    height: 62px;
  }
  .nav-buttons-container,
  .mode-toggle {
    display: none;
  }
  .nav-mobile-window {
    display: block;
  }
  /* Hamburger */
  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-top: 8px;
  }
  .line {
    fill: none;
    stroke: #0251b9;
    stroke-width: 6;
    transition:
      stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .closed .line1,
  .closed .line3 {
    stroke-dasharray: 60 207;
  }
  .closed .line2 {
    stroke-dasharray: 60 60;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -15;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
  }
  .nav-mobile-window {
    position: absolute; /* Change position to absolute */
    top: 1;
    width: 300px;
    right: 0;
    margin-right: 28px;
    background-color: white;
    box-shadow: 0 0 50px 5px rgb(165, 165, 165);
    border-radius: 22px;
    z-index: 999;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 2rem); /* Limit max height to viewport height */
  }
  .nav-mobile-window nav {
    padding: 30px 35px;
  }
  .nav-mobile-window nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li svg {
    height: 25px;
  }
  .nav-mobile-window a {
    font-size: 20px;
    color: #2460ba;
    font-weight: 600;
    padding-top: 14px;
    display: flex;
    align-items: center;
  }
  .nav-mobile-window a div:last-of-type {
    margin-left: 20px;
  }
  .nav-mobile-window nav ul li {
    margin-bottom: 20px;
  }
  nav .mode-toggle-mobile .toggle-button-container {
    margin-top: 19px;
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    margin-left: 0;
    padding: 5px 7px;
    align-items: center;
    border-radius: 50px;
    background: rgba(222, 222, 222, 0.4);
    backdrop-filter: blur(50px);
  }
  .mode-button {
    height: 18px;
    padding: 4px 15px;
    border-radius: 50px;
  }
}

@media screen and (max-width: 816px) {
  .logo img {
    height: 62px;
  }
}

@media screen and (max-width: 666px) {
  .nav {
    height: 42px;
  }
  .logo img {
    height: 42px;
  }
  .menu {
    margin: 0;
  }
}

@media screen and (max-width: 350px) {
  .nav-mobile-window {
    position: absolute; /* Change position to absolute */
    top: 1;
    width: fit-content;
    right: 0;
    margin-right: 20px;
    background-color: white;
    box-shadow: 0 0 50px 5px rgb(165, 165, 165);
    border-radius: 22px;
    z-index: 999;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  .nav-mobile-window nav {
    padding: 20px 30px;
  }
  .nav-mobile-window nav ul li {
    margin-bottom: 15px;
  }
}

@media screen and (max-height: 550px) {
  .nav-mobile-window {
    max-height: 375px;
  }
}

@media screen and (max-height: 475px) {
  .nav-mobile-window {
    max-height: 250px;
  }
}

@media screen and (max-height: 350px) {
  .nav-mobile-window {
    max-height: 180px;
  }
}

@media screen and (max-height: 270px) {
  .nav-mobile-window {
    max-height: 150px;
  }
}
