@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Inter !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line {
  fill: none;
  stroke: #0251b9;
  stroke-width: 6;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.closed .line1,
.closed .line3 {
  stroke-dasharray: 60 207;
}
.closed .line2 {
  stroke-dasharray: 60 60;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -15;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
